button {
  width: 50%;
  font-weight: 700;
}
.detail_logo img {
  width: 50%;
  height: auto;
}
.detail_photo img {
  width: 50%;
  height: auto;
}
.detail_body {
  padding-top: 50px;
}
.detail_shoe {
  padding-bottom: 50px;
}
tbody img {
  width: 20%;
}
tbody button {
  text-align: center;
  width: 50px;
  height: 50px;
}
/* thead td {
  width: 20%;
}
table {
  padding: 20px;
} */
